<h1> <%= @climber.name %> </h1>
<ul> 
    <li> Age: <%= @climber.age %> </li>
    <li> Country: <%= @climber.country %> </li>
    <li> Mountain: <%= link_to(@climber.mountain.name, "/mountains/#{@climber.mountain.id}")%></li>
</ul>